<?xml version="1.0" encoding="UTF-8"?>
<!-- <!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd"> -->

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans	http://www.springframework.org/schema/beans/spring-beans-2.0.xsd 
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd 
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd" >

	<bean id="accountMgr" class="com.hbs.auth.manager.AccountMgr">		
	</bean>

	<bean id="actionMgr" class="com.hbs.auth.manager.ActionMgr">		
	</bean>

	<bean id="loginMgr" class="com.hbs.auth.manager.LoginMgr">		
	</bean>

	<bean id="resourceMgr" class="com.hbs.auth.manager.ResourceMgr">		
	</bean>

	<bean id="roleMgr" class="com.hbs.auth.manager.RoleMgr">		
	</bean>

	<bean id="roleResourceMgr" class="com.hbs.auth.manager.RoleResourceMgr">		
	</bean>
	
	<bean id="staffMgr" class="com.hbs.auth.manager.StaffMgr">		
	</bean>
	
	<bean id="staffRoleMgr" class="com.hbs.auth.manager.StaffRoleMgr">		
	</bean>
	
	<bean id="userInfoCacheMgr" class="com.hbs.auth.manager.UserInfoCacheMgr">		
	</bean>

</beans>
