.STYLE2 {
	font-size: 14pt;
	color: windowtext;
	font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: 700;
	padding: 0px;
	text-align: left;
	text-decoration: none;
	vertical-align: bottom;
	white-space: nowrap;
}
.STYLE4 {
	font-size: 14pt;
	color: windowtext;
	font-family: "ו";
	font-style: normal;
	font-weight: 700;
	padding: 0px;
	text-align: left;
	text-decoration: none;
	vertical-align: top;
	white-space: nowrap;
}
.STYLE6 {
	font-size: 9pt;
	color: windowtext;
	font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: 700;
	padding: 0px;
	text-align: left;
	text-decoration: none;
	vertical-align: bottom;
	white-space: nowrap;
}
.STYLE8 {
	font-size: 9pt;
	color: windowtext;
	font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: 400;
	text-decoration: none;
}
.xfont01 {
	padding:0px;
	color:windowtext;
	font-size:11pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
}
.xfont02 {
	padding:0px;
	color:windowtext;
	font-size:10pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
}
.xl10418761	{
	padding:0px;
	mso-ignore:padding;
	color:windowtext;
	font-size:11pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	vertical-align:middle;
	border:.5pt solid windowtext;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;
}
.STYLE9 {font-size: 14px}
.xl10418762	{
	font-size: 9pt;
	font-family:Arial, sans-serif;
	border:.5pt solid windowtext;
	white-space:nowrap;
}
.xl10418763	{
	font-size: 9pt;
	font-family:Arial, sans-serif;
	border:.5pt solid windowtext;
}
.noprint{display : none }