<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans	http://www.springframework.org/schema/beans/spring-beans-2.0.xsd 
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd 
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd" >
       
    <aop:config proxy-target-class="true">
		<aop:advisor
			pointcut="execution(* com.hbs.warehousesend.manager.*.*(..))"
			advice-ref="txWarehouseRecAdvice" />
		<aop:advisor
			pointcut="execution(* com.hbs.warehouse.manager.*.*(..))"
			advice-ref="txWarehouseRecAdvice" />			
	</aop:config>
	

	<tx:advice id="txWarehouseRecAdvice"
		transaction-manager="transactionManager">
		<tx:attributes>			
			<tx:method name="saveWareHouseRecInfo" propagation="REQUIRED" rollback-for="Exception" />
			<tx:method name="cancelWareHouseRecInfo" propagation="REQUIRED" rollback-for="Exception" />
			<tx:method name="corfirmWareHouseRecInfo" propagation="REQUIRED" rollback-for="Exception" />
									
			<tx:method name="saveWareHouseRecDetail" propagation="NESTED" rollback-for="Exception" />
			
			<tx:method name="processVendorOrderDetail" propagation="NESTED" rollback-for="Exception" />			
			<tx:method name="processCustOrderDetail" propagation="NESTED" rollback-for="Exception" />
			<tx:method name="processWarehouseInfo" propagation="NESTED" rollback-for="Exception" />
			<tx:method name="saveWareHouseRecDetailList" propagation="NESTED" rollback-for="Exception" />
			
			<tx:method name="cancelWareHouseRecDetail" propagation="NESTED" rollback-for="Exception" />			
			<tx:method name="controlActiveState" propagation="NESTED" rollback-for="Exception" />
			<tx:method name="controlActiveStateList" propagation="NESTED" rollback-for="Exception" />
			<tx:method name="cancelWareHouseRecDetailList" propagation="NESTED" rollback-for="Exception" />
			<tx:method name="adjustFinancePeriod" propagation="NESTED" rollback-for="Exception" />
			<tx:method name="adjustFinancePeriodList" propagation="NESTED" rollback-for="Exception" />			
			<tx:method name="setFinanceState" propagation="NESTED" rollback-for="Exception" />
			
			<tx:method name="saveLockWareHouseInfo" propagation="NESTED" rollback-for="Exception" />			
			<tx:method name="saveInWareHouseInfo" propagation="NESTED" rollback-for="Exception" />
			<tx:method name="saveOutWareHouseInfo" propagation="NESTED" rollback-for="Exception" />			
			
			<tx:method name="*" propagation="SUPPORTS" read-only="true"/>
		</tx:attributes>
	</tx:advice>
	<!-- 仓库入库单 -->
	<bean id="wareHouseRecMgr" class="com.hbs.warehousereceive.manager.WareHouseRecMgr">		
	</bean>
	
	<!-- 仓库入库单明细   -->
	<bean id="wareHouseRecDetailMgr" class="com.hbs.warehousereceive.manager.WareHouseRecDetailMgr">		
	</bean>
	
	<!-- 状态接口类 -->
	<bean id="warehouseHelper"
		class="com.hbs.warehousereceive.manager.helper.WarehouseHelper"
		abstract="true">		
	</bean>
	
	<!-- 账期状态实现类  parent ="warehouseHelper" warehouserec 订单类型（入库单类型）  结算方式（账期结算） -->
	<bean id="warehouseRec01" class="com.hbs.warehousereceive.manager.helper.PeriodHelper">		
	</bean>
	<bean id="warehouseRec11" class="com.hbs.warehousereceive.manager.helper.PeriodHelper">		
	</bean>
	
	
	<!-- 预付费状态实现类parent ="warehouseHelper" warehouserec 订单类型（入库单类型）  结算方式（预付X%,剩余货到付款） -->
	<bean id="warehouseRec02" class="com.hbs.warehousereceive.manager.helper.PrePaidHelper">		
	</bean>
	<bean id="warehouseRec12" class="com.hbs.warehousereceive.manager.helper.PrePaidHelper">		
	</bean>
	
	
	<!-- 预付费状态实现类 parent ="warehouseHelper" warehouserec 订单类型（入库单类型）  结算方式（预付X%剩余款到发货）-->
	<bean id="warehouseRec03" class="com.hbs.warehousereceive.manager.helper.PrePaidHelper">		
	</bean>
	<bean id="warehouseRec13" class="com.hbs.warehousereceive.manager.helper.PrePaidHelper">		
	</bean>
	
</beans>