<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" 
	xmlns="http://java.sun.com/xml/ns/j2ee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	
	<display-name>Struts Blank</display-name>
	<context-param> 
	     <param-name>contextConfigLocation</param-name> 
	     <param-value>classpath:applicationContext.xml</param-value> 
	 </context-param> 

    <servlet>
	<servlet-name>webInit</servlet-name>
	<servlet-class>com.hbs.common.servlet.DefaultSystemInitServlet</servlet-class>		
		<init-param>   
			<param-name>log4jConfig</param-name>
			<param-value>log4j/log4j.xml</param-value>
		</init-param>
		<init-param>   
			<param-name>quartzConfig</param-name>
			<param-value>quartz/quartz.properties</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
 	</servlet>
	 <servlet>   
		<servlet-name>context</servlet-name>   
		<servlet-class>org.springframework.web.context.ContextLoaderServlet</servlet-class>   
		<load-on-startup>2</load-on-startup>   
	</servlet>

<servlet-mapping>
		<servlet-name>webInit</servlet-name>
		<url-pattern>/webInit</url-pattern>
	</servlet-mapping>
  

  <servlet-mapping>
		<servlet-name>context</servlet-name>
		<url-pattern>/context</url-pattern>
	</servlet-mapping>


    <filter>
        <filter-name>struts2</filter-name>
        <filter-class>org.apache.struts2.dispatcher.FilterDispatcher</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>struts2</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
